.chatlist {
  flex: 1;
  overflow: scroll;
 
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgba(182, 211, 255, 0.871); /* Soft Blue background for the search bar */
  border-bottom: 1px solid white;
  
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the scrollbar track */
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Color on hover */
  }
}

.searchBar {
  flex: 1;
  background-color: rgba(242, 244, 247, 0.6); /* Light Gray background for the search input */
  display: flex;
}

input {
  background-color: transparent; /* Transparent input background */
  border: none;
  outline: none;
  color: white; /* Maintain white text color */
  flex: 1;
  padding: 10px;
  
}

img {
  width: 20px;
  height: 20px;  
}

.add {
  width: 36px;
  height: 36px;
  background-color:#1E3A8A; /* Teal Green background for the add button */
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid white; /* Subtle divider */
}

.img2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9); /* Slightly lighter text for primary information */
}

p {
  font-size: 14px;
  font-weight: 300;
  color: rgba(87, 101, 116, 0.9); /* Cool Gray for subtext, softer than white */
}

.add:hover {
  background-color: rgba(0, 195, 163, 0.7); /* Darker Teal Green on hover for the add button */
}

.item:hover {
  background-color: rgba(61, 139, 255, 0.3); /* Soft Blue background on item hover */
  color: black; /* Text color changes to black on item hover */
}
